.highlight {
  background-color: #ffa994;
}

.booksWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 897px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 586px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.notFound {
  font-weight: 600;
}
