.main {
  display: flex;
  flex: 1 1 auto;
}

.container {
  padding: 0 20px;
  width: clamp(100px, 100%, 1100px);
  margin: 20px auto;
}
@media (max-width: 1023px) {
  .container {
    width: clamp(100px, 100%, 900px);
  }
}
@media (max-width: 897px) {
  .container {
    width: clamp(100px, 100%, 700px);
  }
}
@media (max-width: 586px) {
  .container {
    width: clamp(100px, 100%, 370px);
  }
}