.mainWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.cartItemFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px #bebebe solid;
  border-radius: 10px;
  margin-top: 15px;
  @media (max-width: 586px) {
    flex-wrap: wrap;
  }
}

.cartListWrapper {
  text-align: center;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px -1px 8px -2px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 1px 0 8px -2px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 1px 0 8px -2px rgba(0, 0, 0, 0.64);
}

.cartTitle {
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 15px;
  @media (max-width: 586px) {
    font-size: 2.2em;
  }
}
.cartItemWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cartItemTitle {
  text-align: left;
  flex: 1 1 auto;
  font-weight: 600;
  @media (max-width: 586px) {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 10px;
  }
}

.cartItemPrice {
  width: 60px;
  font-weight: 600;
  @media (max-width: 586px) {
    font-size: 1.2em;
  }
}

.cartItemBtn {
  width: 29px;
  height: 29px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background-color: #ff6d49;
  transition: all 0.2s ease-in;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1);
    transition: unset;
  }
  @media (max-width: 586px) {
    width: 40px;
    height: 40px;
  }
}
.cartItemBtnIcon {
  font-size: 2rem;
  color: white;
}

.cartEmpty {
  font-size: 1.3em;
  font-weight: 500;
  @media (max-width: 586px) {
    font-size: 1.6em;
  }
}

.linkBack {
  text-decoration: none;
  color: #ff6d49;
  font-weight: 500;
  margin-top: 20px;
  @media (max-width: 586px) {
    font-size: 1.3em;
  }
}

.totalPriceFlex {
  display: flex;
  justify-content: flex-end;
}

.totalPriceWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding: 10px;
  border: 1px #bebebe solid;
  border-radius: 10px;
  margin-top: 15px;
}

.totalPrice {
  font-weight: 700;
  @media (max-width: 586px) {
    font-size: 1.2em;
  }
}

.totalPriceBtn {
  padding: 7px 14px;
  background-color: #ff6d49;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.2s ease-in;

  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1);
    transition: unset;
  }
  @media (max-width: 586px) {
    font-size: 1.3em;
    padding: 10px 15px;
  }
}
