.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.signin {
  width: 300px;
  border: 1px #f0f0f0 solid;
  border-radius: 20px;
  text-align: center;
  padding: 0 20px;
  box-shadow: 1px -1px 8px -2px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 1px 0 8px -2px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 1px 0 8px -2px rgba(0, 0, 0, 0.64);
}

.title {
  font-size: 2rem;
  font-weight: 800;
  margin: 20px;
  white-space: nowrap;
}

.image {
  width: 7rem;
  height: 7rem;
  outline: 2px #d1d5db solid;
  border-radius: 50%;
  margin-bottom: 20px;
  filter: hue-rotate(150deg);
}

.lable {
  display: block;
  font-weight: 500;
  color: #374151;
  margin-bottom: 10px;
  @media (max-width: 586px) {
    font-size: 1.4em;
  }
}
.input {
  width: 100%;
  border: 1px #374151 solid;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
  @media (max-width: 586px) {
    font-size: 1.4em;
  }
  &::placeholder {
    transform: translateY(2px);
  }
  @media (max-width: 586px) {
    padding: 15px;
  }
}
.button {
  width: 100%;
  padding: 5px;
  background-color: #ff6d49;
  color: white;
  font-weight: 500;
  border-radius: 20px;
  margin-bottom: 20px;
  &:disabled {
    background-color: #ffa48d;
  }
  @media (max-width: 586px) {
    padding: 15px;
    font-size: 1.4em;
  }
}
