.header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  box-shadow: 1px -1px 8px -2px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 1px 0 8px -2px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 1px 0 8px -2px rgba(0, 0, 0, 0.64);
  z-index: 99;

  &__title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #374151;
    @media (max-width: 586px) {
      font-size: 1.7rem;
    }
  }
  &__titleName {
    @media (max-width: 586px) {
      display: block;
    }
  }
  &__btnGroup {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.btnGroup {
  position: absolute;
  &__link {
    position: relative;
  }
  &__cart {
    font-size: 2em;
    text-decoration: none;
    padding: 3px;
    color: #374151;
    border: 1px #ff6d49 solid;
    border-radius: 50%;
    margin-right: 20px;
    transition: all 0.2s ease-in;
    &:hover {
      background: #ff6d49;
      color: white;
    }

    @media (max-width: 586px) {
      font-size: 3em;
      &:hover {
        background: unset;
        color: #374151;
      }
    }
  }
  &__cartCountWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5px;
    right: 13px;
    width: 15px;
    height: 15px;
    background-color: #ff6d49;
    color: white;
    padding: 3px;
    border-radius: 50%;
    @media (max-width: 586px) {
      top: -5px;
      right: 13px;
      width: 20px;
      height: 20px;
    }
  }
  &__cartCount {
    font-size: 0.7em;
    font-weight: 500;
  }
  &__wrapper {
    display: flex;

    @media (max-width: 586px) {
      padding: 10px;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
      position: fixed;
      top: 100%;
      right: 100%;
      width: 100%;
      background-color: white;
      transition: all 0.4s cubic-bezier(0.71, 0.01, 0.24, 0.99);
      box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.2);
      &.open {
        right: 0;
      }
    }
  }
  &__signout {
    padding: 5px 10px;
    font-weight: 500;
    background: transparent;
    border: 1px #ff6d49 solid;
    border-radius: 20px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in;
    span {
      position: relative;
      z-index: 2;
    }
    &:hover {
      color: #fff;
    }
    &:hover:after {
      width: 100%;
    }
    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: #ff6d49;
      transition: all 0.2s ease-in;
    }
    @media (max-width: 586px) {
      padding: 8px 15px;
      font-size: 1.4em;
    }
  }
  &__user {
    display: flex;
    align-items: center;
  }
  &__img {
    font-size: 2.1em;
    color: #ff6d49;
    @media (max-width: 586px) {
      font-size: 3.4em;
    }
  }
  &__userName {
    font-weight: 500;
    padding: 5px 10px 5px 15px;
    border-right: 1px #ff6d49 solid;
    border-top: 1px #ff6d49 solid;
    border-bottom: 1px #ff6d49 solid;
    border-radius: 0 20px 20px 0;
    transform: translateX(-10px);
    @media (max-width: 586px) {
      padding: 8px 5px 8px 15px;
      font-size: 1.4em;
      transform: translateX(-10px);
    }
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 2;
  cursor: pointer;
  @media (max-width: 586px) {
    display: block;
  }
}

.menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #ff6d49;
  border-radius: 9px;
  opacity: 1;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.menu span:nth-child(1) {
  top: 5px;
}

.menu span:nth-child(2) {
  top: 14px;
}

.menu span:nth-child(3) {
  top: 23px;
}

.menu.open span:nth-child(1) {
  top: 14px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.menu.open span:nth-child(2) {
  opacity: 0;
  right: 60px;
}

.menu.open span:nth-child(3) {
  top: 14px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
